* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.post{
    background-image: url(./22c177de_E882208_1fe29184.png);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.a{
    background-image: url(./de-an-sun-b57RqS-nQ1c-unsplash.jpg);
}