.a {
    background: rgb(112, 203, 245);
  }
  .b {
    background: pink;
  }
  .c {
    background: coral;
  }
  .d {
    background: blue;
  }
  .e {
    background: gray;
  }
  .f {
    background: greenyellow;
  }